:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
}

nav ul {
  list-style-type: none;
}

.NavBarButtons {
  color:#ffffff;
  padding: 10px;
}
.cart-widget {
  color: white;
}

.btn-detalle{
    background-color:#333; 
    color: white; 
    border: 1px solid #e3922e; 
    border-radius: 5px; 
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-detalle:hover {
    background-color: #e3922e;
    color: black;
}


a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #e3922e;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.cart-widget {
  position: relative;
}

.cart-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px; 
}

.logo-transparent{
  width: 150px;
  height: 150px; 
}

.item-count {
  position: absolute;
  top: 5px; 
  right: 3px; 
  background-color: rgb(255, 255, 255);
  color: rgb(255, 106, 0);
  border-radius: 20%;
  padding: 2px 5px;
  font-size: 12px; 
}


.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 10px 50px 10px;
}

.producto {
  border: 1px solid #dddddd37;
  border-radius: 5px;
  padding: 15px;
  width: calc(30.50% - 20px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  transition: transform 0.2s;
}

.producto:hover {
  transform: scale(1.05);
}

.producto img {
  max-width: 100%;
  height: auto;
}

.Button-Carrito {
  border: 1px solid #dddddd23;
  padding: 6px 15px;
  border-radius: 10%;
  background-color:#dddddd23; 
  color: white; 
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Button-Carrito:hover{
  background-color: #dddddd85;
}

/* CartItem.css */
.cart-item {
  display: flex; /* Usamos flexbox para alinear la imagen y los detalles */
  align-items: center; /* Alinea verticalmente al centro */
  margin-bottom: 10px; /* Espaciado entre los artículos del carrito */
  width: 30%; /* Ancho completo del contenedor */
  justify-content: left;
  margin-left: 80px;
}

.cart-item-image-container {
  display: flex;
  justify-content: left; /* Centra la imagen horizontalmente */
  width: 100px; /* Ancho fijo para la imagen (ajusta según sea necesario) */
  align-items: flex-start;
}

.cart-item-image {
  width: 100%; /* La imagen ocupa todo el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}

.cart-item-details {
  display: flex;
  flex-direction: column; /* Coloca los detalles en una columna */
  justify-content: left; /* Justifica los detalles a la izquierda */
  margin-left: 15px; /* Espacio entre la imagen y los detalles */
  align-items:flex-start
}

/* Línea separadora */
.cart-item-separator {
  width: 50%; /* Asegura que ocupe todo el ancho disponible */
  border-bottom: 1px solid #ccc; /* Línea separadora en la parte inferior */
  margin-top: 10px; /* Espacio entre los detalles y la línea separadora */
}

.Cart-Contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

