:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.cart-widget {
  color: white;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #e3922e;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.cart-widget {
  position: relative;
}

.cart-icon {
  width: 30px;
  height: 30px;
  margin-right: 50px; 
}

.logo-transparent{
  width: 150px;
  height: 150px; 
}

.item-count {
  position: absolute;
  top: 20px; 
  right: 45px; 
  background-color: rgb(255, 255, 255);
  color: rgb(255, 106, 0);
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px; 
}


.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  margin: 50px 10px 50px 10px;
}

.producto {
  border: 1px solid #dddddd37;
  border-radius: 5px;
  padding: 15px;
  width: calc(30.50% - 20px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  transition: transform 0.2s;
}

.producto:hover {
  transform: scale(1.05);
}

.producto img {
  max-width: 100%;
  height: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

